*{
    margin: 0;
    padding:0;
    list-style: none;
    font-size: 14px;
}
html,body{-moz-user-select: none; -khtml-user-select: none; user-select: none;}
#mainFlow{
    width: 1000px;
    margin: 10px auto;
    border: 1px solid #dcdcdc;
}
#paintArea{
    width: 100%;
    height: 600px;
    position: relative;
    border-top: 1px solid #dcdcdc;
    overflow: auto;
}
#paintArea svg{
    width: 100%;
    height: 1000px;
    position: absolute;
    background: #f2f2f2;
}
.addArea{
    padding: 5px;
    position: relative;
}
.addArea>.add{
    padding: 5px 15px;
    border:1px solid #dcdcdc;
    border-radius: 4px;
    display: inline-block;
}
.addArea>.add:hover{
    cursor: move;
}
.addArea>span.addClone{
    padding: 5px 15px;
    border:1px solid #dcdcdc;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    left:5px;
}
.addArea>span.addClone:hover{
    cursor: move;
}
#paintArea>div.flowIcon{
    width: 120px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border:1px solid #dcdcdc;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    z-index: 9;

}
#paintArea>div.flowIcon:hover{
    cursor: move;
    border:1px solid rgb(89, 171, 228);
}
#paintArea>div.flowIcon:hover i{
   display: inline-block;
}
#paintArea>div.flowIcon>i{
    width: 6px;
    height: 6px;
    border:1px solid rgb(89, 171, 228);
    border-radius: 50%;
    position: absolute;
    display: none;
    z-index: 10;
}
#paintArea>div.flowIcon>i.dotL{
    left:-4px;
    top:11px;
}
#paintArea>div.flowIcon>i.dotR{
    right:-4px;
    top:11px;
}
#paintArea>div.flowIcon>i.dotT{
    left:56px;
    top:-4px;
}
#paintArea>div.flowIcon>i.dotB{
    left:56px;
    bottom:-4px;
}
#paintArea>div.flowIcon>i:hover{
    cursor: crosshair;
}